<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Elorrieta00</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/ElorBase?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="pojos/MemoryByThreadByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/WaitsByUserByLatency.hbm.xml"/>
        <mapping resource="pojos/X$userSummaryByFileIoType.hbm.xml"/>
        <mapping resource="pojos/WaitsGlobalByLatency.hbm.xml"/>
        <mapping resource="pojos/PsCheckLostInstrumentation.hbm.xml"/>
        <mapping resource="pojos/HostSummaryByFileIoType.hbm.xml"/>
        <mapping resource="pojos/Reunion.hbm.xml"/>
        <mapping resource="pojos/X$statementAnalysis.hbm.xml"/>
        <mapping resource="pojos/Ciclo.hbm.xml"/>
        <mapping resource="pojos/X$hostSummaryByFileIoType.hbm.xml"/>
        <mapping resource="pojos/Alumno.hbm.xml"/>
        <mapping resource="pojos/StatementsWithErrorsOrWarnings.hbm.xml"/>
        <mapping resource="pojos/X$memoryByUserByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/X$schemaTableLockWaits.hbm.xml"/>
        <mapping resource="pojos/CursosExternos.hbm.xml"/>
        <mapping resource="pojos/UserSummaryByFileIoType.hbm.xml"/>
        <mapping resource="pojos/X$ioByThreadByLatency.hbm.xml"/>
        <mapping resource="pojos/StatementAnalysis.hbm.xml"/>
        <mapping resource="pojos/SchemaTableStatisticsWithBuffer.hbm.xml"/>
        <mapping resource="pojos/X$innodbBufferStatsByTable.hbm.xml"/>
        <mapping resource="pojos/HostSummaryByStages.hbm.xml"/>
        <mapping resource="pojos/X$waitClassesGlobalByLatency.hbm.xml"/>
        <mapping resource="pojos/SchemaUnusedIndexes.hbm.xml"/>
        <mapping resource="pojos/UserSummaryByStages.hbm.xml"/>
        <mapping resource="pojos/UserSummary.hbm.xml"/>
        <mapping resource="pojos/X$hostSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="pojos/SchemaAutoIncrementColumns.hbm.xml"/>
        <mapping resource="pojos/X$schemaTableStatisticsWithBuffer.hbm.xml"/>
        <mapping resource="pojos/X$ioGlobalByFileByBytes.hbm.xml"/>
        <mapping resource="pojos/X$hostSummaryByStages.hbm.xml"/>
        <mapping resource="pojos/X$userSummaryByStages.hbm.xml"/>
        <mapping resource="pojos/X$userSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="pojos/SchemaTableLockWaits.hbm.xml"/>
        <mapping resource="pojos/Asignatura.hbm.xml"/>
        <mapping resource="pojos/MemoryByHostByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/Cita.hbm.xml"/>
        <mapping resource="pojos/InnodbBufferStatsByTable.hbm.xml"/>
        <mapping resource="pojos/X$session.hbm.xml"/>
        <mapping resource="pojos/StatementsWithTempTables.hbm.xml"/>
        <mapping resource="pojos/Session.hbm.xml"/>
        <mapping resource="pojos/StatementsWithRuntimesIn95thPercentile.hbm.xml"/>
        <mapping resource="pojos/X$waitsByUserByLatency.hbm.xml"/>
        <mapping resource="pojos/Empleados.hbm.xml"/>
        <mapping resource="pojos/MemoryGlobalByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/UserSummaryByStatementType.hbm.xml"/>
        <mapping resource="pojos/X$userSummaryByStatementType.hbm.xml"/>
        <mapping resource="pojos/Profesor.hbm.xml"/>
        <mapping resource="pojos/MemoryByUserByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/IoGlobalByFileByBytes.hbm.xml"/>
        <mapping resource="pojos/X$memoryByThreadByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/Metrics.hbm.xml"/>
        <mapping resource="pojos/SchemaRedundantIndexes.hbm.xml"/>
        <mapping resource="pojos/HostSummary.hbm.xml"/>
        <mapping resource="pojos/UserSummaryByFileIo.hbm.xml"/>
        <mapping resource="pojos/X$latestFileIo.hbm.xml"/>
        <mapping resource="pojos/X$statementsWithSorting.hbm.xml"/>
        <mapping resource="pojos/HostSummaryByFileIo.hbm.xml"/>
        <mapping resource="pojos/Version.hbm.xml"/>
        <mapping resource="pojos/SchemaTablesWithFullTableScans.hbm.xml"/>
        <mapping resource="pojos/Departamentos.hbm.xml"/>
        <mapping resource="pojos/X$hostSummary.hbm.xml"/>
        <mapping resource="pojos/X$schemaTableStatistics.hbm.xml"/>
        <mapping resource="pojos/IoGlobalByWaitByBytes.hbm.xml"/>
        <mapping resource="pojos/Processlist.hbm.xml"/>
        <mapping resource="pojos/X$schemaIndexStatistics.hbm.xml"/>
        <mapping resource="pojos/X$innodbLockWaits.hbm.xml"/>
        <mapping resource="pojos/UserSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="pojos/X$statementsWithTempTables.hbm.xml"/>
        <mapping resource="pojos/SchemaTableStatistics.hbm.xml"/>
        <mapping resource="pojos/X$memoryByHostByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/X$hostSummaryByStatementType.hbm.xml"/>
        <mapping resource="pojos/X$memoryGlobalByCurrentBytes.hbm.xml"/>
        <mapping resource="pojos/SysConfig.hbm.xml"/>
        <mapping resource="pojos/WaitClassesGlobalByAvgLatency.hbm.xml"/>
        <mapping resource="pojos/X$ioGlobalByWaitByBytes.hbm.xml"/>
        <mapping resource="pojos/X$statementsWithFullTableScans.hbm.xml"/>
        <mapping resource="pojos/LatestFileIo.hbm.xml"/>
        <mapping resource="pojos/X$ioGlobalByFileByLatency.hbm.xml"/>
        <mapping resource="pojos/X$psDigestAvgLatencyDistribution.hbm.xml"/>
        <mapping resource="pojos/X$waitClassesGlobalByAvgLatency.hbm.xml"/>
        <mapping resource="pojos/X$statementsWithErrorsOrWarnings.hbm.xml"/>
        <mapping resource="pojos/StatementsWithSorting.hbm.xml"/>
        <mapping resource="pojos/X$hostSummaryByFileIo.hbm.xml"/>
        <mapping resource="pojos/SessionSslStatus.hbm.xml"/>
        <mapping resource="pojos/X$userSummaryByFileIo.hbm.xml"/>
        <mapping resource="pojos/X$schemaTablesWithFullTableScans.hbm.xml"/>
        <mapping resource="pojos/SchemaObjectOverview.hbm.xml"/>
        <mapping resource="pojos/HostSummaryByStatementType.hbm.xml"/>
        <mapping resource="pojos/InnodbLockWaits.hbm.xml"/>
        <mapping resource="pojos/InnodbBufferStatsBySchema.hbm.xml"/>
        <mapping resource="pojos/X$userSummary.hbm.xml"/>
        <mapping resource="pojos/X$memoryGlobalTotal.hbm.xml"/>
        <mapping resource="pojos/X$psDigest95thPercentileByAvgUs.hbm.xml"/>
        <mapping resource="pojos/X$psSchemaTableStatisticsIo.hbm.xml"/>
        <mapping resource="pojos/X$waitsGlobalByLatency.hbm.xml"/>
        <mapping resource="pojos/WaitClassesGlobalByLatency.hbm.xml"/>
        <mapping resource="pojos/X$ioGlobalByWaitByLatency.hbm.xml"/>
        <mapping resource="pojos/IoByThreadByLatency.hbm.xml"/>
        <mapping resource="pojos/X$innodbBufferStatsBySchema.hbm.xml"/>
        <mapping resource="pojos/HostSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="pojos/MemoryGlobalTotal.hbm.xml"/>
        <mapping resource="pojos/WaitsByHostByLatency.hbm.xml"/>
        <mapping resource="pojos/Usuario.hbm.xml"/>
        <mapping resource="pojos/SchemaIndexStatistics.hbm.xml"/>
        <mapping resource="pojos/X$processlist.hbm.xml"/>
        <mapping resource="pojos/IoGlobalByFileByLatency.hbm.xml"/>
        <mapping resource="pojos/Horario.hbm.xml"/>
        <mapping resource="pojos/IoGlobalByWaitByLatency.hbm.xml"/>
        <mapping resource="pojos/X$schemaFlattenedKeys.hbm.xml"/>
        <mapping resource="pojos/X$statementsWithRuntimesIn95thPercentile.hbm.xml"/>
        <mapping resource="pojos/StatementsWithFullTableScans.hbm.xml"/>
        <mapping resource="pojos/X$waitsByHostByLatency.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
